logging:
  level:
    net.authorize: DEBUG

spring:
  application:
    name: externo
  output.ansi.enabled: always
  datasource:
    url: jdbc:h2:mem:externo
    driverClassName: org.h2.Driver
    username: db_externo
    password: es2-unirio
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        transport.protocol: smtp
        smtp:
          port: 25
          auth: true
          starttls:
            enabled: true
            required: true

vadebicicleta:
  cartao-de-credito:
    operadora:
      id: ${OPERADORA_ID}
      key: ${OPERADORA_KEY}
